<!DOCTYPE html>
<html>
<head>
  <title>TimeItem sign in</title>
  
  <link rel="stylesheet" href="assets/css/reset.css" />
  <link rel="stylesheet" href="assets/css/supersized.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
</head>
<body>
  <div class="page-container">
    <h1>Sign in</h1>
    <form action="/login" method="post">
        <input type="hidden" name="redirectUrl" id="redirectUrl">
        <input type="text" name="username" class="username" placeholder="Username">
        <input type="password" name="password" class="password" placeholder="Password">
        <button type="submit" onclick="loginSubmit()">Sign me in</button>
        <div class="error"><span>+</span></div>
    </form>
    <div id="show_error"></div>
    <div class="connect">
        <p>No account ?</p>
        <p>
            <a class="" href="/view/sign-up.html">register</a>
        </p>
    </div>
  </div>

  <script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="assets/js/supersized.3.2.7.min.js"></script>
  <script type="text/javascript" src="assets/js/supersized-init.js"></script>
  <script type="text/javascript" src="assets/js/scripts.js"></script>
  <script type="text/javascript">
    function GetRequest() {
      var url = location.search; //获取url中"?"符后的字串
      var theRequest = new Object();
      if (url.indexOf("?") != -1) {
        var str = url.substr(1);
        strs = str.split("&");
        for(var i = 0; i < strs.length; i ++) {
           theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
        }
      }
      return theRequest;
    }
    function loginSubmit() {
      $("form").submit();
    }
    $(function(){
      var Request = GetRequest();
      var redirectUrl = Request['redirectUrl'];
      $('#redirectUrl').val(redirectUrl);
    });
    </script>
</body>
</html>